rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /world/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /raids/{raidId} {
      allow read: if true;
      allow write: if false;

      match /entries/{uid} {
        allow read: if request.auth != null && request.auth.uid == uid;
        allow write: if false;
      }
    }

    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;

      match /{document=**} {
        allow read: if request.auth != null && request.auth.uid == uid;
        allow write: if false;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
